body {
    padding-bottom: 20px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px 20px;
}

.team-logo {
    display: inline-block;
    text-align: center;
    width: 40px;
}
.team-logo img {
    height: 18px;
}

@media only screen and (max-width: 600px) {
    td, th {
        font-size: 14px;
    }
    .team-logo {
        display: inline-block;
        text-align: center;
        width: 35px;
    }
    .team-logo img {
        height: 16px;
    }
    .tab-content {
        padding: 2px 4px;
    }
}